wordcloud==1.8.2.2
matplotlib==3.7.1
numpy==1.24.3
Pillow==9.5.0
jupyter
pipwin
PyAudio==0.2.13
tensorflow==2.12.0
pymysql==1.0.3
cryptography==40.0.2
PyPDF2==2.10.8
opencv-python==4.7.0.72
scikit-learn==1.2.2
pandas==2.0.1
scipy==1.10.1
statsmodels==0.13.5
fire~=0.5.0
tqdm==4.66.1
regex==2023.8.8
keras_cv==0.4.2
imageio==2.31.1
imageio-ffmpeg==0.4.8
gspread~=5.10.0
google-auth==2.22.0
google-auth-oauthlib
google-auth-httplib2
requests==2.31.0
keras==2.13.1
openthaigpt==0.1.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
python-docx
PyMuPDF
pytesseract
selenium
dotenv

